<div class="container">
  <div class="well">
    <%= link_to "New Song", new_song_path, remote: true, class: "btn btn-primary" %>
  </div>
  <div class="new-song"></div>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody class="song-show">
      <%= render "show" %>
    </tbody>
  </table>
</div>
<div id="song-modal" class="modal fade"></div>
