<div class="container">
  <div class="well">
    <%#= link_to "New Song", new_song_path, remote: true, class: "btn btn-primary" %>
    <div class="modal-header">
    <h3>New Song for <%= @artist.name %></h3>
    </div>
    <%= render "songs/form" %>
  </div>
  <div class="new-song"></div>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody class="song-show">
      <%= render "/songs/show" %>
    </tbody>
  </table>
  <% @songs.each do |song, id| %>
    <td><%= link_to "Delete All", "/songs/#{song.id}/delete_all", remote: true, class: "btn btn-danger" %></td>
  <% end %>
  <!-- <td><%#= link_to "Delete All", "/artists/#{@artist.id}/delete", remote: true, class: "btn btn-danger" %></td> -->
<div id="song-modal" class="modal fade"></div>
