<div class="header">
  <div class="logo"><h1><%= link_to "SongDB", root_path %></h1></div>
  <div class="navigation">
    <ul>
      <% @artists.each do |artist| %>
        <li><%= link_to artist.name, "/artists/#{artist.id}" %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="border-length"></div>
